/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 6 version
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 2rem;
    font-family: lato;
    font-weight: var(--bold);
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--white);
}

/* couleurs du cv */
:root {
    --cv-background: #fdf8e2;
    --white: #ffffff;
    --black-text: #231f20;
    --gray-text: #4d504d;
    --line: #c03126;
    --blue: #4580c2;
    --outline-blue: #2e6596;
    --transparent: rgba(255, 255, 255, 0);
    --bold: 700;
}

/* font family */
@font-face {
    font-family: 'RetroGaming';
    src: url('../font/Retro\ Gaming.ttf');
}


/* couleur background extrait de illustrator #fef6e0 */

/* perso */

.wrap {
    background-size: auto;
    margin: 5vh 20vw;
    background-color: var(--cv-background);
    border: 2px solid;
    -webkit-box-shadow: 0px 0px 3px 2px #525252;
    box-shadow: 0px 0px 3px 2px #525252;
}

/* header */
header {
    background-color: violet;
    



}

header ul {
    display: flex;
    justify-content: space-between;
    height: fit-content;



}

header ul>li {
    padding-top: 5vh;
    height: 100%;


}

header ul>li p {
    line-height: 17pt;
}

header ul li:nth-child(2) {
    height: 158px;
    margin: 0 0 auto 8%;
    text-align: center;
    padding-top: 0vh;
    line-height: 7pc;
    align-items: center;
}

header ul li:nth-child(2) p {
    display: block;
    height: 100px;
    width: 300px;
   padding: 6px 0 0 1px;
   letter-spacing: 2px;
    background: url(../img/game_designer.svg) ;
    
    font-family: 'RetroGaming', monospace;
    font-weight: 600;

    text-transform: uppercase;
    background-repeat: no-repeat;

   
}
/* header ul li:nth-child(2) p::after {
    content: '';
    position: absolute;
    top: 176px;
    
    right: 560px;
    
    background-color: var(--cv-background);
    width: 250px;
    height: 27px;
    z-index: 0;
  
} */

header ul li:nth-child(3) {
    padding-top: 0;
    width: 160px;
    height: 64px;
    margin: 20px 50px 50px 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: var(--blue);
    /* justify-content: space-evenly; */
    line-height: 1.5pc;
    border-top: 8px solid #5794cf;
    -webkit-box-shadow: 8px 0px 0px 0px #2e6596, 0px 8px 0px 0px #2e6596;

    -moz-box-shadow: 8px 0px 0px 0px #2e6596, 0px 8px 0px 0px #2e6596;
    box-shadow: 8px 0px 0px 0px #2e6596, 0px 8px 0px 0px #2e6596;

}

header ul li:nth-child(3)::before {
    content: '';
    position: absolute;
    left: 1029px;
    top: 116px;
    width: 28px;
    min-height: 28px;
    background-color: var(--blue);
    -webkit-box-shadow: inset -8px -8px 0px 0px var(--outline-blue);
    -moz-box-shadow: inset -8px -8px 0px 0px var(--outline-blue);
    box-shadow: inset -8px -8px 0px 0px var(--outline-blue);
}

/* header ul li:nth-child(3)::after {

} */
/* body resume */
.wrap-global {
    width: 100%;
    height: fit-content;
    
}

/* introduce */

/* experience */

/* profil */